<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>top page</title>
    </head>
    <body>
        <h1>This is sample page.</h1>
        <p th:text="${msg}"></p>
        <div>
            <form action="." method="post">
                <div>
                    <input type="text" name="text1" th:value="${value}" />
                </div>
                <div>
                    <input type="submit" value="Click" />
                </div>
            </form>
        </div>
    </body>
</html>
